/* TAG */
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
p{
    color: #8F8F8F;
}

/* Headings */
.big-heading{
    line-height: 1.5;
    size: 3.5rem;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* CLASS */
.container-fluid{
    padding: 7% 15%;
    

}

/* ID */
#title {
    color: #fff;
    background-color: #ff4c68;
    text-align: left;
}
#title .container-fluid {
    padding: 3% 15% 7%;
}

/* navbar */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
}

/* download buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */

.phone-image{
    position: absolute;
    right: 30%;
    transform: rotate(25deg);
    width: 60%;
}

/* Information Row */

/* Features Section */
.feature-box{
    padding: 5%;
}

#features{
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-title{
    font-size: 1.5rem;
}


.circle-icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.bullseye-icon{
    color: #ef8172;
    font-size: 4rem;
    margin-bottom: 1rem;
}
.heart-icon{
    color: #ef8172;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.circle-icon:hover{
    color: #ff4c68;
    margin-bottom: 1rem;
}
.bullseye-icon:hover{
    color: #ff4c68;
    font-size: 4rem;
    margin-bottom: 1rem;
}
.heart-icon:hover{
    color: #ff4c68;
    font-size: 4rem;
    margin-bottom: 1rem;
}


/* Testimonials */
#testimonials{
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}
.testimonial-text{
   font-size: 3rem;
   line-height: 1.5; 
}

/* Press Section */
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    margin: 20px 20px 50px;
    width: 15%;
}

/* Pricing Sectin */
#pricing{
    padding:100px ;
}
.pricing-column{
    padding: 3% 2%;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

@media (max-width: 1280px ) {
    .phone-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}

#cta {
    background-color: #ff4c68;
}


#footer{
    background-color: #fff;
}
.social-icon{
    margin: 20px 10px;
}